<%- include('general/header') -%>


          <div class="d-flex justify-content-center ">
              <form action="/login" method="post" class="form-group">
                  <p class="col-form-label">E-mail</p>
                  <input type="text" class="form-control" name="email">
                  <p class="col-form-label">Password</p>
                  <input type="password" class="form-control" name="password">
                  <div class="form-group m-2">
                      <input type="submit" value="Login" class="btn-info">
                  </div>
              </form>
          
    
          <%- include('general/footer') -%>