
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="/css/bootstrap.min.css"> -->
  </head>
<body>
    <div class="container ">
      
<div class="bg-success row justify-content-between">
    <h3 class="flex-column ml-3 mt-2"><a href="/">Group Trip Planner</a></h3>
    <% if (userName) { %>

        <div class="flex-column justify-content-end align-content-end">
            <p class="mt-3 mb-1">Welcome
            <a href="/console" class=""><%= userName%></a>
            <a href="/logout" class="btn-dark p-1 m-2">logout</a>
            </p>
        </div>

    <% } else { %>
        <div class="flex-column justify-content-end align-content-end mb-1">
        <p class="mr-3 mt-3 mb-0"><a href="/login" class="m-2 btn-warning px-1">login</a> <a href="/newuser" class="btn-warning px-1">Register</a></p>
</div>
    <% } %>
</div>
<div>

        <% if(locals.messages.msg){ %>
            <div class="alert alert-error" role="alert">
                <strong>Message: <%=messages.msg%></strong> 
            </div>
        <% } %>

</div>